<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cordova.myapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>myApp</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />

    <!-- Allow all network requests (required for AJAX calls) -->
    <access origin="*" />

    <!-- Allow navigation to external URLs -->
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />

    <!-- Allow launching external apps/links -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Android specific: allow mixed content and cleartext -->
    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>

</widget>